In [2]:
#31
a = "3"
b = "4"

print(a + b)

# 예상 > 34

34

In [3]:
#32
print("Hi" * 3)

# 예상 HiHiHi

HiHiHi

In [4]:
#33
print('-' * 80)

--------------------------------------------------------------------------------

In [9]:
#34
t1 = 'python'
t2 = 'java'

t3 = (t1 + " " + t2 + " ") * 4
print(t3)

python java python java python java python java

In [11]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [15]:
# 36

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [16]:
#37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [34]:
#38
상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(",", "")
a = int(상장주식수)

print( a )
print(type(a))

5969782550
<class 'int'>

In [36]:
#39
분기 = "2020/03(E) (IFRS연결)"

분기[ : 7]

'2020/03'

In [39]:
#40
data = "   삼성전자    "

a = data.replace(" ","")

print( a )

삼성전자

In [41]:
#40 solution

data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [43]:
#41
ticker = "btc_krw"

ticker_u = ticker.upper()

print(ticker_u)

BTC_KRW

In [44]:
#42
ticker = "BTC_KRW"

ticker_l = ticker.lower()

print(ticker_l)

btc_krw

In [47]:
#43
word = 'hello'

word = word.capitalize()
print(word)

Hello

In [45]:
#43 - 1
word = 'hello'

word = word.replace('h','H')
print(word)

Hello

In [49]:
# 44
file_name = "보고서.xlsx"

file_name.endswith('xlsx')

True

In [53]:
#45
file_name = "보고서.xlsx"

file_name.endswith('xlsx' or 'xls')

# 틀린 솔루션
# file_name.endswith(("xlsx", "xls"))

True

In [55]:
#46
file_name = "2020_보고서.xlsx"

file_name.startswith("2020")

True

In [57]:
#47
a = "hello world"

a = a.split()
print( a )

['hello', 'world']

In [58]:
#48
ticker = "btc_krw"

a = ticker.split("_")

print(a)

['btc', 'krw']

In [60]:
#49
date = "2020-05-01"

date = date.split('-')

print(date)

['2020', '05', '01']

In [61]:
#50
data = "039490     "
data = data.strip()

print(data)

039490

In [62]:
#50 solution
data = "039490     "
data = data.rstrip()

print(data)

039490

In [64]:
#51
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [65]:
#52
movie_rank.append("배트맨")

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [74]:
#53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert(1, '슈퍼맨' )

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [75]:
#54
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [80]:
#55
del movie_rank[2:4]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [81]:
#55 - 1
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [82]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2

print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [87]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]

print("max:", max(nums))
print("min:", min(nums))

max: 7
min: 1

In [88]:
#58
nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

In [89]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [90]:
#60
nums = [1, 2, 3, 4, 5]

print( sum(nums) / len(nums) )

3.0

In [91]:
#60 solution
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)
# 별 차이 없지만 가독성 더 좋아보인다!

3.0

In [93]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1 : ])

[100, 130, 140, 150, 160, 170]

In [95]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[::2]

[1, 3, 5, 7, 9]

In [96]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[1::2])

[2, 4, 6, 8, 10]

In [111]:
#64
nums = [1, 2, 3, 4, 5]

print(nums[::-1])

[5, 4, 3, 2, 1]

In [98]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[2])

삼성전자 Naver

In [100]:
#66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [101]:
#67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [109]:
#68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [133]:
#69
string = "삼성전자/LG전자/Naver"

string = string.split("/")

print(string)

['삼성전자', 'LG전자', 'Naver']

In [139]:
#70
data = [2, 4, 3, 1, 5, 10, 9]

data.sort()

print(data)

[1, 2, 3, 4, 5, 9, 10]

In [137]:
# 70 번 질문!!!
data = [2, 4, 3, 1, 5, 10, 9]

data =  data.sort()

print(data)

None